/* Variables */
:root {
    /* create a variable to give less precise orientation to the cards */
    --card-angle: 3deg;
    --card-vote-size: 50px;

    --white: #ecf0f1;
    --black: #222;
    --front-text: #861b00;
    --card-voted-color: #3fc380;
    --card-unvoted-color: #3498db;

    --default-fonts: -apple-system, BlinkMacSystemFont,"Segoe UI","Roboto", "Oxygen","Ubuntu","Helvetica Neue", Arial, sans-serif;
}

/* Resets and tag styles */
html {
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
                linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
                linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    background-size: cover;
    min-height: 100%;
}

body, .username, button {
    font-family: var(--default-fonts);
}

button {
    border: none;
    background-color: #1abc9c;
    padding: 5px 10px;
    text-transform: capitalize;
    color: var(--white);
    cursor: pointer;
    font-size: 24px;
    transition: background .5s;
    border-radius: 6px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);

}

.--with-shadow {
    box-shadow: 2px 2px 0 2px rgba(0, 0, 0, 0.5);
}

button:active {
    transform: translate(2px, 2px);
    box-shadow: unset;
}

body {
    margin: 20px 8rem;
}

/* login */
.login {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
}

.login .logo {
    font-family: var(--default-fonts);
    font-size: 80px;
    font-weight: 900;
    text-align: center;
}

.login .login-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 5px;

    width: 500px;
    margin: 10px auto;
}

.login .username {
    flex: 1 0 auto;

    border: none;
    padding: 5px 35px 5px 15px;
    font-size: 24px;
    border-radius: 6px;
    background-color: var(--white);
}

.login .socketPreloader {
    text-align: center;
    height: 35px;
    background: no-repeat no-repeat center 25px url(/img/loader.gif);
}

.login .username.loading {
    background: var(--white) no-repeat no-repeat 95% center url(/img/loader.gif);
}

.login button {
    flex: 1 0 auto;
}

.login button:hover {
    background-color: #2ecc71;
}

/* room info */
.roomInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;

    margin: 20px auto;
}

.roomInfo .info .roomName {
    color: var(--white);
    border-bottom: 1px dotted var(--white);
    cursor: pointer;
}

.roomInfo .info .userName {
    font-weight: 700;
}

.poker {
    margin-left: auto;
    margin-right: auto;
}

.area {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    margin: 20px auto;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;

    height: 150px;
    transition: background .5s, transform 250ms;
    text-align: center;

    min-width: 100px;
    width: 100px;
    border-radius: 6px;

    font-weight: 900;

    border: 3px solid var(--black);
}

.votes {
    gap: 10px;
}

.votes .vote {
    font-size: var(--card-vote-size);
    transition: transform 125ms, box-shadow 125ms;
    background-color: var(--white);

    box-shadow: inset 0 0 0 3px var(--white), 
                inset 0 0 0 4px var(--black);
}

.votes .vote:hover, .votes .vote:active {
    transform: scale(1.05);
}

.users {
    gap: 20px;
}

.users .user {
    transition: background .25s, transform .5s cubic-bezier(0.785, 0.135, 0.150, 0.860); 
    background: var(--card-unvoted-color);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);

    /* cards are placed slopily */
    transform: rotateZ(var(--card-angle)) translate(0%, 75%);
    transform-style: preserve-3d;

    /* card is slightly elevated */
    box-shadow: inset 0 0 0 3px var(--white);

    border: 3px solid var(--black);
}

.user.card .front,
.user.card .back {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.user.card .front {
    border-radius: 3px;
}

.user.card .back {
    border-radius: 6px;
}

.users .user.card .front {
    transform: translateZ(-1px) rotateY(180deg);
    background-color: var(--white);
    text-shadow: none;
    color: var(--front-text);

    box-shadow: inset 0 0 0 3px var(--white), 
                inset 0 0 0 4px var(--black);
}

.users .voted {
    background: var(--card-voted-color);
}

.users .user.flipped {
    /* card is slightly elevated */
    box-shadow: inset 0 0 0 3px var(--white),
                inset 0 0 0 4px var(--card-voted-color),
                inset 0 0 0 5px var(--white);

    transform: rotateY(180deg) rotateZ(var(--card-angle));
}

.users .user .username {
    font-weight: bold;
    color: var(--white);
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;

    flex: 1 0 100%;
}

.users .user .vote {
    font-size: var(--card-vote-size);

    flex: 1 0 100%;
}

/* media queries */
@media only screen and (max-width: 768px) {
    body {
        margin: 20px 2rem;
    }

    .roomInfo {
        justify-content: center;
    }

    .login {
        padding-top: 100px;
    }

    .login .logo {
        font-size: 40px;
    }

    .login .login-form {
        width: unset;
    }

    .login .username {
        padding: 5px;
    }

    .votes .vote,
    .users .user {
        width: 50px;
        height: 75px;
        min-width: 50px;
        font-size: 24px;
    }

    .users .user .vote {
        font-size: 24px;
    }
}
